<ng-container class="motive-container">
  <header class="motive-header">

    <mat-form-field class="motive-search" appearance="outline">
      <input matInput type="search" />
      <button matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button mat-fab extended class="button-import">
      <mat-icon>add_circle_outline</mat-icon>Adicionar
    </button>
  </header>
  <mat-divider></mat-divider>

  <div class="table-container">
    <mat-table class="mat-elevation-z8" matSort>
      <ng-container matColumnDef=""></ng-container>
    </mat-table>
  </div>

</ng-container>
