<ng-container class="apendix-container">
  <mat-tab-group>
    <mat-tab label="Códigos de Multa">
      <div class="apendix-container">
        <header class="apendix-header">
          <button mat-fab extended class="button-import">
            <mat-icon>cloud_upload</mat-icon>Importar Arquivo
          </button>

          <mat-form-field class="header-search" appearance="outline">
            <input matInput type="search" />
            <button matSuffix mat-icon-button aria-label="Search">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <button mat-fab extended class="button-import">
            <mat-icon>add_circle_outline</mat-icon>Adicionar
          </button>
        </header>

        <mat-divider></mat-divider>

        <mat-table
          class="mat-elevation-z8 fineCodeTable"
          [dataSource]="fineCodeSource"
        >
          <ng-container matColumnDef="fineCodeId">
            <mat-header-cell *matHeaderCellDef class="fineCodeId"
              >Código</mat-header-cell
            >
            <mat-cell *matCellDef="let item" class="fineCodeId">{{
              item.fineCodeId
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fineDescription">
            <mat-header-cell *matHeaderCellDef class="fineDescription"
              >Descrição</mat-header-cell
            >
            <mat-cell *matCellDef="let item" class="fineDescription">{{
              item.fineDescription
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fineKm">
            <mat-header-cell *matHeaderCellDef class="fineKm"
              >KM</mat-header-cell
            >
            <mat-cell *matCellDef="let item" class="fineKm">{{
              item.fineKm
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fineAlias">
            <mat-header-cell *matHeaderCellDef class="fineAlias"
              >Alias</mat-header-cell
            >
            <mat-cell *matCellDef="let item" class="fineAlias">{{
              item.fineAlias
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="fineOrder">
            <mat-header-cell *matHeaderCellDef class="fineOrder"
              >Ordem</mat-header-cell
            >
            <mat-cell *matCellDef="let item" class="fineOrder">{{
              item.fineOrder
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button
                mat-icon-button
                matTooltip="Editar"
                class="iconbutton"
                (click)="edit(item)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="fineCodeHeader"></mat-header-row>
          <mat-row *matRowDef="let row; columns: fineCodeHeader"></mat-row>
        </mat-table>
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select Page"
      ></mat-paginator>
    </mat-tab>

    <mat-tab label="Motivos"></mat-tab>

    <mat-tab label="Empresas"></mat-tab>
  </mat-tab-group>
</ng-container>
