<h2 mat-dialog-title>{{ isEdit ? 'Editar Código de Infração' : 'Novo Código de Infração'}}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="form-container">
    
    <div class="full-width">
      <mat-form-field appearance="outline" class="field-item">
        <mat-label>Descrição Completa</mat-label>
        <textarea matInput formControlName="fineDescription" rows="3" placeholder="Descreva o código de multa..."></textarea>
      </mat-form-field>
    </div>

    <div class="fields-row">
      <mat-form-field appearance="outline" class="field-item small">
        <mat-label>KM</mat-label>
        <input matInput formControlName="fineKm" placeholder="Ex: 120">
      </mat-form-field>

      <mat-form-field appearance="outline" class="field-item">
        <mat-label>Alias (Apelido)</mat-label>
        <input matInput formControlName="fineAlias" placeholder="Ex: Velocidade">
      </mat-form-field>

      <mat-form-field appearance="outline" class="field-item small">
        <mat-label>Ordem</mat-label>
        <input matInput formControlName="fineOrder" placeholder="Ex: 00000">
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" color="warn">Descartar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">
    <mat-icon>{{ isEdit ? 'edit' : 'save'}}</mat-icon> {{ isEdit ? 'Atualizar' : 'Cadastrar'}}
  </button>
</mat-dialog-actions>