<ng-container class="addFineCode-container">
  <h2 mat-dialog-title class="header-title">Adicionar Novo Código de Multa</h2>
  <mat-dialog-content>
    <div class="form-container">
      <form [formGroup]="form" class="fine-data">
        <!--<mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput formControlName="fineNumber" />
        </mat-form-field>-->

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="fineDescription"></textarea>
        </mat-form-field>

        

        <div >
          <mat-form-field appearance="outline">
            <mat-label>KM</mat-label>
            <input matInput formControlName="fineKm" />
          </mat-form-field>

          <mat-form-field appearance="outline">
          <mat-label>Alias</mat-label>
          <input matInput formControlName="fineAlias"/>
        </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ordem</mat-label>
            <input matInput formControlName="fineOrder" />
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="form.invalid"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</ng-container>
