.personnel-container {
  padding: 0.5rem 0.1rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personnel-header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding-bottom: 2rem;
}

.header-search {
  //position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
  margin: 0;
  font: 1.5rem;
  font-weight: 500;
  padding-top: 1.5rem;
  width: 25%;
}

.button-import {
  font-weight: 500;
  background-color: var(--color-blue-light);
  color: var(--color-darker-17);
  width: 15rem;
  min-width: 15rem;
  //left: 80%;
  margin: 0.5rem;
  //transform: translateX(60%);
}