<ng-container class="personnel-container">
  <header class="personnel-header">
    <button mat-fab extended class="button-import">
      <mat-icon>cloud_upload</mat-icon>Importar Arquivo
    </button>

    <mat-form-field class="header-search" appearance="outline">
      <input matInput type="search" />
      <button matSuffix mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button mat-fab extended class="button-import" (click)="addEmployee()">
      <mat-icon>add_circle_outline</mat-icon>Adicionar
    </button>
  </header>
  <mat-divider></mat-divider>
  
</ng-container>