/* template/sidebar/sidebar.component.scss */

$sidebar-expanded-width: 250px;
$sidebar-collapsed-width: 60px; 
$sidebar-color: var(--color-sidebar-text); // Usando a variável global

.sidebar {
    width: $sidebar-expanded-width;
    background-color: var(--color-sidebar-bg);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease-in-out;
    flex-shrink: 0;
    overflow-x: hidden;

    &-collapsed {
        width: $sidebar-collapsed-width;
    }

    // HEADER
    &-header {
        display: flex;
        align-items: center;
        padding: 1rem 15px 1rem 10px;
        border-bottom: 1px solid var(--color-sidebar-hover);
        
        &.sidebar-collapsed {
            justify-content: center;
            padding: 1rem 0;
            .sidebar-logo { display: none; }
        }
    }

    // BOTÃO DE TOGGLE
    .sidebar-toggle-btn {
        background-color: transparent;
        border: none;
        color: white;
        padding: 8px;
        cursor: pointer;
        margin-right: 15px;
        transition: color 0.2s;
        
        &:hover { color: $sidebar-color; }
    }

    // LOGO
    &-logo {
        color: var(--color-accent);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &-menu {
        flex-grow: 1;
        padding-top: 10px;
        overflow-y: auto;
        
        ul { list-style: none; padding: 0; margin: 0; }
    }
    
    // ITENS DE MENU
    .sidebar-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $sidebar-color;
        padding: 10px 15px;
        transition: all 0.2s;
        cursor: pointer;
        position: relative; 
        
        &:hover {
            background-color: var(--color-sidebar-hover);
            color: #fff;
        }
        
        // Item Ativo (Sem filhos) - Adicionar estilo para o item selecionado
        &[routerlinkactive] {
             background-color: var(--color-sidebar-active-bg);
             color: white;
        }

        // Estado COLAPSADO (YouTube Style: Vertical)
        .sidebar-collapsed & {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            height: 70px;
            color: purple;
        }
    }
    
    // ÍCONE PRINCIPAL
    .sidebar-icon {
        font-size: 1.5rem;
        margin-right: 15px;
        
        &.sidebar-collapsed {
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
        }
    }

    // TEXTO DO ITEM
    .sidebar-item-text {
        white-space: nowrap;
        overflow: hidden;
        transition: opacity 0.3s;
        
        // Estado COLAPSADO: Texto pequeno e visível
        &.sidebar-collapsed {
            word-break: break-word;
            //overflow: hidden;
            font-size: 0.75rem;
            line-height: 1;
            opacity: 1;
            width: auto;
            text-align: center;
            color: aqua;
        }
        
        // Estado EXPANDIDO: Ocupa o restante
        &.sidebar:not(.sidebar-collapsed) {
            flex-grow: 1;
        }
    }

    // ÍCONE DE SETA (Apenas visível quando expandido e com filhos)
    .sidebar-item-arrow {
        margin-left: auto;
        transition: transform 0.2s;
        font-size: 1.2rem;
        
        // Esconde quando colapsado
        &.sidebar-collapsed {
            display: none;
        }
        &.rotated {
            transform: rotate(180deg);
        }
    }

    // SUBMENU
    .sidebar-submenu {
        padding-left: 0;
        background-color: var(--color-background-variant); // Fundo do submenu
        
        &.sidebar-collapsed {
            display: none;
        }
        
        &.sidebar-subitem {
            padding-left: 55px; 
        }
    }
}